.git
.github
.vscode
build
**/build
**/.gradle
.gradle
data
secrets
**/tmp
**/out
*.log
.gitattributes
.gitignore
CHANGELOG
install-util.sh
install.sh
LICENSE
README.md
docker-compose.yml.example
.project
.settings/
