# Dev artifacts
.gradle
.settings/
build
gradle/
**/.settings/
**/.project
**/.classpath
**/build/
**/bin/
.kotlin
.note.xnote
.env.*
.env.example
.env.test.example

# Prod artifacts
secrets/
.env
data/
docker-compose.yml
